<!-- your html code here -->
<div class="container">
    <div class="d-flex row align-items-center">
        <div class="col-6 col-md-4">
            <img src="assets/img/2.jpg" class="rounded-circle" alt="..." style="height: 300px; width: 300px;">
        </div>
        <div class="col-sm-6 col-md-8">
            <h1>The Second Heading is Pretty Too.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat unde incidunt quis laborum sint laudantium deserunt sed sit nesciunt odio vitae corrupti, veniam omnis officiis, dolore similique tempora? Ab, officia.</p>
        </div>
    </div>
</div>